/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require-tree .
 *= require-self
 */

/*html, body, #mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
}*/

/*.claro {
  height: 95vh;
}*/

html, body {
  height: 100%;
}

.header {
  height: 60px;
}

.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 5px;
}

.full-height {
  height: 100%;
}

.full-width {
  padding: 0 !important; 
}

.map-input {
  width: 100%;
  min-height: 40px;
  padding-left: 8px;
  border: solid 3px #337ab7;
  transition: border 0.3s;
}

.map-input:focus {
  border: solid 3px #286090;
  outline:0;
}

.map-button, .route-button {
  width: 100%;
  min-height: 38px;
}

.map-button:focus, .route-button:focus {
  outline:0;
}

.map-input-div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
